.register-left{
    background: url("/assets/images/register-image.jpg") no-repeat center center / cover;
}
.register-padding{
    padding:15px 100px;
}
.invalid-feedback {
    position: absolute;
    bottom: 0;
    left: 15px;
}