<div class="container-fluid bg-fff box-shadow-1 position-relative z-index-0">
  <div class="d-flex justify-content-start">
      <a class="cursor-pointer" [routerLink]="['/home/srf/step-3/',manufacturerRequestsId]">
        <div class="pt-3 mr-3 d-inline-block">
          <span class="sprite-img s-back"></span>
        </div>
        <div class="pt-3 fs-16 fw-600 text-5d5 d-inline-block">
          SRF Form
        </div>
      </a>
    <div class="ml-5 pl-4">
      <div class="step-top-container">
        <div class="d-flex justify-content-start">
          <div class="step-top fw-600">
            1 Basic
          </div>
          <div class="step-top fw-600">
            2 Product
          </div>
          <div class="step-top fw-600">
            3 Declaration
          </div>
          <div class="step-top fw-600 active">
            4 Summary
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="page-wrapper">
    <p class="fs-14 fw-600 text-a5a">Sumary <span class="sprite-img s-down-arrow"></span></p>
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <div class="card p-4 text-center">
          <div class="text-center"><img src="/assets/images/success.png" alt="" /></div>
          <p class="text-5d5 fs-36 fw-600 letter-space pt-2">AWESOME</p>
          <p class="text-5d5">Thank you for submitting the details</p>
          <div class="table-responsive bg-fff box-shadow-1">
            <!-- <table class="table table-striped">
              <thead>
                <tr>
                  <th>Sl No.</th>
                  <th>Product Type</th>
                  <th>Purpose</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1.</td>
                  <td>IPhone8</td>
                  <td>Purpose</td>
                </tr>
                <tr>
                  <td>2.</td>
                  <td>Gopro Hero 6</td>
                  <td>Purpose</td>
                </tr>
              </tbody>
            </table> -->
          </div>
          <a routerLink="/home/my-application">List Application Request</a>
          <div class="">
            <button class="btn btn-dotter-b text-f9a py-2 px-4 mt-4 fs-14">Download the complete form. Sign and Post it to us. <span class="sprite-img s-envelope"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>