<div class="container-fluid">
    <div class="page-wrapper">
      <div class="row">
        <div class="offset-md-3 col-md-6">
            <p class="fs-14 fw-600 text-a5a">Change Password <span class="sprite-img s-down-arrow"></span></p>
            <div class="card p-3">
                <form [formGroup]="changePassword" (ngSubmit)="submit()" autocomplete="off">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" [ngClass]="{ 'is-invalid': submitted && f.old_password.errors }" formControlName="old_password" class="form-control" name="password"/>
                        <div *ngIf="submitted && f.old_password.errors" class="invalid-feedback">
                            <div *ngIf="f.old_password.errors.required">Old Password is required</div>
                            <div *ngIf="!f.old_password.errors.required">
                                <p *ngIf="f.old_password.errors.minlength">Old Password must be 6 characters</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="password" class="form-control" name="password"/>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="!f.password.errors.required">
                                <p *ngIf="f.password.errors.minlength">Password must be 6 characters</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" formControlName="confirm_password"  class="form-control" name="password"/>
                        <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                            <div *ngIf="f.confirm_password.errors.required">Confirm Password is required</div>
                            <div *ngIf="!f.confirm_password.errors.required">
                                <p *ngIf="f.confirm_password.errors.minlength">Confirm Password must be 6 characters</p>
                                <div *ngIf="!f.confirm_password.errors.minlength && changePassword.controls.confirm_password.errors?.MatchPassword">Password not match</div>
                            </div>              
                        </div> 
                    </div>
                    <div class="">
                        <button type="submit"  [hidden]="loading" class="btn btn-dark py-1 px-2 fs-14 text-fff fw-700">Reset Password</button>
                        <button type="button"  [hidden]="!loading" class="btn btn-dark py-1 px-2 fs-14 text-fff fw-700">Please wait...</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>