<div class="container-fluid">
  <div class="page-wrapper">   
    <p class="fs-14 fw-600 text-a5a mt-3 mb-3">Testing Standrad List <span class="sprite-img s-down-arrow ml-3"></span></p>   
    <div class="d-flex justify-content-start">
      <div class="mr-3">
        <input type="text" [(ngModel)]="searchQuery" class="form-control" placeholder="Search Here">
      </div>
      <div>
        <button class="btn btn-border text-f9a fs-14" data-toggle="modal" data-target="#exampleModal"><span class="fw-700 text-f9a">+</span> Create New</button>
      </div>
    </div>
    <div class="pagination-container">
      <div class="table-responsive bg-fff mt-3">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="3" *ngIf="(listStandard | search: searchQuery).length==0">
                    <span *ngIf="!loading" >No records found!</span>
                    <span *ngIf="loading">Loading...</span> 
              </td>
            </tr>
            <tr *ngFor="let item of listStandard | search: searchQuery | paginate: { itemsPerPage: 6, currentPage: p }">
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
              <td>
                  <a class="cursor-pointer" data-toggle="modal" data-target="#exampleModalEdit" (click)="editData(item.id)"><i class="far fa-edit fs-18"></i></a>
                  &nbsp;
                  <a class="cursor-pointer" (click)="deleteItem(item.id)"><i class="far fa-trash-alt fs-18 text-danger"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col align-self-end mt-3 pagination-top">
        <pagination-controls class="float-right" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-18 text-f9a fw-600" id="exampleModalLabel">Create Testing Standrad</h5> 
        <button type="button" (click)="close()" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <form [formGroup]="addForm" autocomplete="off" (ngSubmit)="create()">
        <div class="modal-body">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" formControlName="name" placeholder="Testing Standrad" name="name" type="text" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Testing Standrad is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" formControlName="description" placeholder="Testing Standrad Description" name="description" type="text" />
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                    <div *ngIf="f.description.errors.required">Description is required</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <div class="" [hidden]="loading">
              <!--<button type="button"  (click)="close()" class="btn btn-transparent" data-dismiss="modal">Close</button>
                &nbsp;-->
              <button type="submit" class="btn btn-orange fs-12 fw-600 px-5 py-1">Save</button>
          </div>
          <div class="" [hidden]="!loading">
              <button type="submit" class="btn btn-orange fs-12 fw-600 px-5 py-1">Please wait...</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- edit modal starts here -->
<div class="modal fade" id="exampleModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-18 text-f9a fw-600" id="exampleModalLabel">Update Testing Standrad</h5>
        <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="editForm" autocomplete="off" (ngSubmit)="update()">
        <div class="modal-body">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" [ngClass]="{ 'is-invalid': submitted && g.name.errors }" formControlName="name" placeholder="Testing Standrad" name="name" type="text" />
                <div *ngIf="submitted && g.name.errors" class="invalid-feedback">
                    <div *ngIf="g.name.errors.required">Testing Standrad is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="form-control" [ngClass]="{ 'is-invalid': submitted && g.description.errors }" formControlName="description" placeholder="Testing Standrad Description" name="description" type="text" />
                <div *ngIf="submitted && g.description.errors" class="invalid-feedback">
                    <div *ngIf="g.description.errors.required">Description is required</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="" [hidden]="loading">
                <!--<button type="button"  (click)="close()" class="btn btn-transparent" data-dismiss="modal">Close</button>
                  &nbsp;-->
                <button type="submit" class="btn btn-orange fs-12 fw-600 px-5 py-1">Update</button>
            </div>
            <div class="" [hidden]="!loading">
                <button type="submit" class="btn btn-orange fs-12 fw-600 px-5 py-1">Please wait...</button>
            </div>    
        </div>
      </form>
    </div>
  </div>
</div>