  <div class="container-fluid">
    <div class="page-wrapper">
      <div class="row">
        <div class="col-md-3">
          <div class="card mb-3 shadow-hover">
            <a class="text-hover fs-16 fw-600 p-3" routerLink="product-type">
              <div class="d-flex justify-content-between">
                <div>Product Type</div>
                <div><span class="far fa-edit"></span></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3 shadow-hover">
            <a class="text-hover fs-16 fw-600 p-3" routerLink="testing-standard">
              <div class="d-flex justify-content-between">
                <div>Testing Standrad</div>
                <div><span class="far fa-edit"></span></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3 shadow-hover">
            <a class="text-hover fs-16 fw-600 p-3" routerLink="role-management">
              <div class="d-flex justify-content-between">
                <div>Role Management</div>
                <div><span class="far fa-edit"></span></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3 shadow-hover">
            <a class="text-hover fs-16 fw-600 p-3" routerLink="manufacturer">
              <div class="d-flex justify-content-between">
                <div>Manufacturer</div>
                <div><span class="far fa-edit"></span></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3 shadow-hover">
            <a class="text-hover fs-16 fw-600 p-3" routerLink="testing-table">
              <div class="d-flex justify-content-between">
                <div>Testing Table</div>
                <div><span class="far fa-edit"></span></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3 shadow-hover">
            <a class="text-hover fs-16 fw-600 p-3" routerLink="user-management">
              <div class="d-flex justify-content-between">
                <div>Users</div>
                <div><span class="far fa-edit"></span></div>
              </div>
            </a>
          </div>
        </div> 
        <div class="col-md-3">
            <div class="card mb-3 shadow-hover">
              <a class="text-hover fs-16 fw-600 p-3" routerLink="testing-specification">
                <div class="d-flex justify-content-between">
                  <div>Testing Specification</div>
                  <div><span class="far fa-edit"></span></div>
                </div>
              </a>
            </div>
          </div> 
      
        <div class="col-md-3">
          <div class="card mb-3 shadow-hover">
            <a class="text-hover fs-16 fw-600 p-3" routerLink="purpose">
              <div class="d-flex justify-content-between">
                <div>Purpose</div>
                <div><span class="far fa-edit"></span></div>
              </div>
            </a>
          </div>
        </div> 
        <div class="col-md-3">
          <div class="card mb-3 shadow-hover">
            <a class="text-hover fs-16 fw-600 p-3" routerLink="sample-collection">
              <div class="d-flex justify-content-between">
                <div>Sample Collection</div>
                <div><span class="far fa-edit"></span></div>
              </div>
            </a>
          </div>
        </div> 
        <div class="col-md-3">
          <div class="card mb-3 shadow-hover">
            <a class="text-hover fs-16 fw-600 p-3" routerLink="requirement">
              <div class="d-flex justify-content-between">
                <div>Requirement</div>
                <div><span class="far fa-edit"></span></div>
              </div>
            </a>
          </div>
        </div>          
      </div>
  </div>
  </div>