<div class="container-fluid">
  <div class="page-wrapper">

    <div class="card">
      <!-- <div *ngIf="projectDetails.length==0">
              <span *ngIf="!loading">No records found!</span>
              <span *ngIf="loading">Loading...</span>
          </div> -->
      <div class="fw-600 fs-16 text-f9a border-b-1 p-3">Profile</div>
      <div class="p-3">
        <div class="row">
          <div class="col-md-4">
            <div class="row align-items-center">
              <div class="col-5">
                <div class="user-pic my-2 text-center"><img src="/assets/images/default-user.png" class="rounded-circle m-auto"></div>
              </div>
              <div class="col-7">
                <div class="user-details my-2">
                  <ul>
                    <li class="fw-600 text-truncate text-capitalize">{{getuser.firstName}} </li>
                    <li class="my-2 text-capitalize">{{getuser.displayName}} </li>
                    <li><i class="fas fa-map-marker-alt"></i> Bangalore</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="contact-details p-5 my-2">
              <div class="d-flex justify-content-between w-100" style="height:35px">
                <div class="fw-600">Contact Details</div>
                <button class="btn btn-empty" (click)="activInactiv()" [hidden]="hideShow"><i class="far fa-edit"></i></button>
              </div>
          <form [formGroup]="userDetailsForm" [ngClass]="{'form-control2':addClass==1}" autocomplete="off" (ngSubmit)="update()">
               
                  <div class="row  my-3">
                      <div class="col-sm-6">
                          <div class="form-group">
                            <label>First Name</label>
                            <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                              formControlName="firstName"  type="eamil" />
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                              <div *ngIf="f.firstName.errors.required">Eamil is required</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                              <label>Last Name</label>
                              <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                                formControlName="lastName"  type="eamil" />
                              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Eamil is required</div>
                              </div>
                            </div>
                          </div>

                    <div class="col-sm-6 ">
                      <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                          formControlName="email"  type="eamil" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Eamil is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Mobile</label>
                        <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
                          formControlName="mobile"  type="number" />
                        <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                          <div *ngIf="f.mobile.errors.required">contact number is required</div>
                        </div>
                      </div>
                    </div>
                    
                   
                  </div>
             
              <div class="" [hidden]="!hideShow">
                  <div [hidden]="loading">
                    <div class="d-flex w-100 align-items-center justify-content-end">
                      <button type="submit" class="btn btn-orange fs-12 fw-600 px-5 py-1 mr-1">Save</button>
                      <button type="button" class="btn btn-border fs-12 fw-600 px-5 py-1" (click)="activInactiv()">Cancel</button>
                    </div>
                  </div>
                  <div class="" [hidden]="!loading">
                      <button type="submit" class="btn btn-orange fs-12 fw-600 px-5 py-1">Please wait...</button>
                    </div>
                </div>
              </form> 
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>