<div class="container-fluid">
  <div class="page-wrapper">
    <p class="fs-14 fw-600 text-a5a">Dashboard <span class="sprite-img s-down-arrow"></span></p>
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="d-flex justify-content-between">
          <h1 class="fs-36 fw-600 text-5d5">Introduction</h1>
          <p><button class="fs-14 py-2 px-3 fw-600 text-5d5 btn-transparent">User guide</button></p>
        </div>
        <div class="card px-3 py-5">
          <div class="row">
            <div class="col-md-4">
              <div class="text-center">
                <img src="/assets/images/logo1.png" alt="" />
              </div>
            </div>
            <div class="col-md-8 pt-3">
              <h3 class="fs-22 fw-600 text-5d5">Welcome To React Labs</h3>
              <p class="fs-14 fw-600 text-5d5">New to React labs? check out React labs</p>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="col-md-6 mb-3">
        <div class="d-flex justify-content-between">
          <div class="fs-14 fw-600 text-a5a mb-0">
            <span class="dot-blue mr-2"></span> <span class="mr-4">Pending</span>
            <span class="dot-orange mr-2"></span> <span>Approved</span>
          </div>
          <p class="mb-1"><button class="fs-12 py-1 px-3 fw-600 text-5d5 btn-transparent">View All</button></p>
        </div>
        <div class="card p-4">
          <ul class="ul-dot">
            <li class="fw-600 text-5d5">Your Application has been Approved for Product ID- 254789wyth
              <br/> <button class="btn btn-transparent fs-14 fw-600 py-0 px-4">Apply</button>
            </li>
            <li class="fw-600 text-5d5">Tester#1  comment to your Application ID(54634hsjdbf)</li>
            <li class="fw-600 text-5d5">Tester#1  comment to your Application ID(54634hsjdbf)</li>
            <li class="fw-600 text-5d5">Tester#1  comment to your Application ID(54634hsjdbf)</li>
          </ul>
        </div>
      </div>-->
      <div class="col-md-6 mb-3">
        <div class="d-flex justify-content-between">
          <h1 class="fs-18 fw-600 text-a5a mb-0">Activity Stream</h1>
          <p class="mb-1"><button class="fs-12 py-1 px-3 fw-600 text-5d5 btn-transparent">View All</button></p>
        </div>
        <div class="card p-4">
          <ul class="ul-dot">
            <li class="fw-600 text-5d5">Your Application has been Approved for Product ID- 254789wyth
              <br/> <button class="btn btn-transparent fs-14 fw-600 py-0 px-4">Apply</button>
            </li>
            <li class="fw-600 text-5d5">Tester#1  comment to your Application ID(54634hsjdbf)</li>
            <li class="fw-600 text-5d5">Tester#1  comment to your Application ID(54634hsjdbf)</li>
            <li class="fw-600 text-5d5">Tester#1  comment to your Application ID(54634hsjdbf)</li>
            <li class="fw-600 text-5d5">Tester#1  comment to your Application ID(54634hsjdbf)</li>
            <li class="fw-600 text-5d5">Tester#1  comment to your Application ID(54634hsjdbf)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>